[submodule "themes/themes/relearn"]
	path = themes/themes/relearn
	url = http://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = http://github.com/McShelby/hugo-theme-relearn.git
